<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}Zručnosti{% endblock %}</title>
</head>
<body class="bg-stone-300 text-gray-800 flex flex-col min-h-screen">

  <nav class="shadow p-4 flex justify-between bg-teal-600">
    <a href="{{ url_for('index') }}" class="ml-5 font-bold text-white text-xl hover:text-teal-950">SkillApp</a>
    <div class="mr-5">
      {% if session.get('user_id') %}
        <a class="mr-4 bg-teal-900  hover:bg-teal-300 hover:text-teal-950 text-white font-bold py-2 px-4 rounded-full" href="{{ url_for('add') }}" class="mr-2">Pridať službu</a>
        <a class="bg-amber-900 hover:bg-amber-300 hover:text-amber-900 text-white font-bold py-2 px-4 rounded-full" href="{{ url_for('logout') }}">Odhlásiť sa</a>
      {% else %}
        <a class="mr-4 bg-teal-900  hover:bg-violet-700 text-white font-bold py-2 px-4 rounded-full" href="{{ url_for('login') }}" class="mr-2">Prihlásenie</a>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" href="{{ url_for('register') }}">Registrácia</a>
      {% endif %}
    </div>
  </nav>

  <div class="p-10">
    {% block content %}{% endblock %}
  </div>
    <footer class="bg-teal-600 text-teal-950 shadow p-4 flex justify-between sticky bottom-0 mt-auto">
        <p>Copypright 2025 SkillApp</p>
        <a class="font-bold text-teal-950 hover:text-white" href="{{ url_for('about') }}">O projekte</a>
    </footer>
</body>
</html>